
@media screen and (max-width: 991px) {
img.main-logo.web-logo {
    display: none;
}
img.main-logo.mobile-logo {
    display: block;
}
section.banner-section {
    padding: 57px 0 0 0px !important;
}
.inner-page-title{
    margin: 57px 0 0 0px !important;
}
.product-rating-2 {
   
    display: block;
}
.product-rating {
    display: none;
}
.product-rating-2 .review-box {
    width: 100%;
    margin: 0 0 25px 0;
}
section.product-short-info img.product-img {
    margin-bottom: 15px;
}
section.product-short-info a.buy-btn {
    width: 92%;
    text-align: center;
    margin: 15px auto;
    float: none;
    display: block;
}
section.product-short-info {
    margin-top: 60px;
}
}